@page "/"
@inject NavigationManager NavManager

<button class="btn btn-primary" @onclick='() => AddWorkspace()'>Создать Workspace</button>
<button class="btn btn-primary" @onclick='() => NavToRandom()'>Перейти в комнату</button>

@code{
    public void AddWorkspace(){
        NavManager.NavigateTo("/WorkspaceEditor/" + Guid.NewGuid().ToString());
    }
    public void NavToRandom() {
        NavManager.NavigateTo("/workspace/" + Guid.NewGuid().ToString());
    }
}