@page "/"
@inject NavigationManager NavManager

<button @onclick='() => AddWorkspace()'>Создать Workspace</button>
<button @onclick='() => NavToRandom()'>Перейти в комнату</button>

@code{
    public void AddWorkspace(){
        NavManager.NavigateTo("/WorkspaceEditor/" + Guid.NewGuid().ToString());
    }
    public void NavToRandom() {
        NavManager.NavigateTo("/call/" + Guid.NewGuid().ToString());
    }
}