@inherits LayoutComponentBase
@inject ApplicationDbContext dbContext

<PageTitle>Startup_School_Jojo</PageTitle>

<div class="main">
    <SideBar />
    <div class="content">
        @Body
    </div>
</div>
@code {
    protected override void OnInitialized()
    {
        dbContext.Plugins.Add(new Plugin
            {
                Name = "VS Code",
                Icon = "",
                BackgroundImage = "",
                Description = "Редактор кода",
                StateScheme = ""
            });
        dbContext.SaveChanges();
    }
}
